* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #ffffff 0%, #000000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: #ffffff;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.hero {
  flex: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.name {
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  
  margin-bottom: 1rem;
}

.feature {
  flex: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

#feature--0, #feature--1, #feature--2, #feature--3 {
  font-size: 2rem;
  font-weight: 100;
  padding: 2rem;
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(216, 216, 216, 0.911);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  text-transform: uppercase;
  /* background-color: white;
  background-color: rgba(255, 255, 255, 0.6); */
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.btn--roll::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--hold::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 25rem;
  left: 50%;
}

.btn--reset {
  top: 25rem;
  left: 50%;
}

.btn--roll {
  top: 43rem;
  left: 75%;
  
}
.btn--hold {
  top: 43rem;
  left: 25%;
  
}

.btn--tie {
  top: 55rem;
  left: 50%;
  padding: 0.5rem 2.0rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}



.player--winner {
  background-color: #11d622;
}

.player--winner .name {
  font-weight: 700;
  color: black;
}

.hidden {
  display: none;
}